services:
  rua_api:
    container_name: rua_api
    restart: always
    cpus: "0.8"
    mem_limit: 600m
    mem_reservation: 300m
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - "8000"
    volumes:
      - ./app:/app
      - /etc/localtime:/etc/localtime:ro
      - /home/ubuntu/docs-rua/pretensos:${UPLOAD_DIR_DOC_PRETENSOS}
      - /home/ubuntu/docs-rua/proyectos:${UPLOAD_DIR_DOC_PROYECTOS}
      - /home/ubuntu/docs-rua/informes:${UPLOAD_DIR_DOC_INFORMES}
      - /home/ubuntu/docs-rua/nnas:${UPLOAD_DIR_DOC_NNAS}
      - /home/ubuntu/docs-rua/pdfs:${DIR_PDF_GENERADOS}
      - /home/ubuntu/docs-rua/exports:${EXPORT_DIR}

    environment:
      TZ: America/Argentina/Cordoba
    env_file:
      - .env  # Cargar variables de entorno desde un archivo .env
    extra_hosts:
      - "campusvirtual2.justiciacordoba.gob.ar:${MOODLE_IP}"
    networks:
      - app-network
    working_dir: /app  # Definimos el directorio de trabajo dentro del contenedor
    # command: python3 -m main
    command: >
      sh -c "if [ \"${UVICORN_RELOAD}\" = 'true' ]; then
        uvicorn main:app --host 0.0.0.0 --port 8000 --reload;
      else
        uvicorn main:app --host 0.0.0.0 --port 8000;
      fi"

networks:
  app-network:
    external: true
