fastapi
uvicorn
sqlalchemy
pymysql
cryptography
black
pydantic[email]
fastapi[security]
python-dotenv
python-multipart
requests
python-jose
passlib
passlib[bcrypt]
bcrypt
fpdf
pillow
PyMuPDF
httpx
slowapi
redis
beautifulsoup4==4.12.3
lxml==5.2.1

